body {
  padding-top: 30px;
  background-color: #f5f5f4;
}
.searchBar {
  position: fixed;
  width: 100%;
  top: 10px;
  margin-bottom: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.currentWeather {
  max-width: 600px;
  display: block;
  border: 0px solid transparent;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0.2, 0.2);
  padding: 40px;
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
  text-align: center;
  transition: all 200ms ease-in-out;
}
.currentWeather h1 {
  font-size: 30px;
}
.currentWeather h2 {
  font-size: 40px;
}
.currentWeather h4 {
  font-weight: lighter;
}
.tempNummbers {
  font-size: 30px;
}
.futurePredictions {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}
.futurePredictions .fas {
  display: block;
  margin: 0 auto;
}
.futurePredictions .row :hover {
  cursor: crosshair;
  background-color: #50a7c2;
}
h4 {
  font-size: 14px;
}
.units {
  display: inline;
}
.units :hover {
  text-decoration: none;
}
